.inactive{
    text-decoration:none;
    color: black
  }
.active{
    text-decoration:none;
    color: black
  }

  #logout{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--chai);
    height: 30px;
    border-radius: 30px;
    padding: 0 8px;
    box-shadow: black 2px 2px 5px;
    color: var(--white);
}

#mobile-logout:hover{
  background-color: #aa5042;
  color: #eeeeee;
}
.menuOption,#mobile-logout{
  height: 33.33%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width:1000px) {
  #logout{
      display: none;
  } 
  .logo{
    display: none;
  }
}

#exploreBTN{
  color: #eeeeee;
}